APP_NAME=Baze Fitness API
APP_VERSION=0.1.0
ENVIRONMENT=local
DATABASE_URL=postgresql://postgres.koirdiubkxnxhcggnnli:Peluza12312312312@aws-1-us-east-2.pooler.supabase.com:5432/postgres
SQL_ECHO=false
BACKEND_CORS_ORIGINS=https://baze-fitness.netlify.app/
SUPABASE_URL=https://koirdiubkxnxhcggnnli.supabase.co
SUPABASE_STORAGE_BUCKET=exercise-videos
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtvaXJkaXVia3hueGhjZ2dubmxpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgxNTEzOSwiZXhwIjoyMDk0MzkxMTM5fQ.NZSvDvFqIgpa0t_GbHHJIINMxxR4FLeqcmtFppzVluA
