APP_NAME=Baze Fitness API
APP_VERSION=0.1.0
ENVIRONMENT=local
DATABASE_URL=postgresql+psycopg://postgres:password@db.your-project.supabase.co:5432/postgres
SQL_ECHO=false
BACKEND_CORS_ORIGINS=https://baze-fitness.netlify.app/
SUPABASE_URL=https://koirdiubkxnxhcggnnli.supabase.co
SUPABASE_STORAGE_BUCKET=exercise-videos
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
